//output: ../private/dashboard.html
//{
    titles: "빈즈소프트 ERP",
    myFunc: function(){
      return true;
    }
  }
extends ./includes/layout.jade

block infiles
  script(type="text/javascript" src="/js/index.js")
  
block contents
 form(method="post" action="/")
  input(type="text" name="user[name]")
  input(type="text" name="user[email]")
  input(type="submit" value="Submit")
