//output: ../public/index.html
//{
    titles: "빈즈소프트",
    myFunc: function(){
      return true;
    }
  }
extends ./includes/layout.jade

block infiles
  script(type="text/javascript" src="/js/index.js")
  
block contents
 p server is running
